/.gradle/
/bin/
/tmp/testLista.txt
/tmp/testLista2.txt
/src/uiMain/Test.java
python/testMain.py
python/Calendario/__pycache__/
python/calendario/__pycache__/
python/errorAplicacion/__pycache__/
python/interfaz/__pycache__/
python/persistencia/__pycache__/
python/revErrores/__pycache__/
python/tareas/__pycache__/
python/__pycache__/